@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');


.earring-background{
  background-image: url('https://assets.hermes.com/is/image/hermesproduct/loop-earrings-small-model--105117B%2000-worn-2-0-0-800-800_g.jpg');
  background-size: cover;
  height: 400px;
  width: 300px !important;
  margin-right: 3px;
}

.ring-background{
  background-image: url('https://shop.kenanddanadesign.com/cdn/shop/products/IMG_1381.jpg?v=1626206489');
  background-size: cover;
  width: 300px !important;
  height: 400px !important;
  margin-right: 3px;
}
.bracelet-background{
  background-image: url('https://assets.hermes.com/is/image/hermesproduct/ex-libris-bracelet--104820B%2000-worn-2-0-0-800-800_g.jpg');
  background-size: cover;
  width: 300px !important;
  height: 400px !important;
  margin-right: 3px;
}
.necklace-background{
   background-image: url('https://www.glassons.com/content/products/coin-pearl-necklace-pack-gold-front-je51963nl.jpg');
   background-size: cover;
   /* margin-right: 5PX; */
   width: 300px !important;
   height: 400px !important;
   margin-right: 3px;
  }

.back:hover{
  transform: scale(1.1);
}

.back{
  transition: transform 0.4s;
}

.col h5{
  padding-top: 350px;
  text-align: center;
}

.everyday-pieces{
  /* margin-top: 30px; */
  margin-left: 2.5%;
  margin-bottom: 30px;
  font-family: 'Caveat', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.discover{
  margin-left: 2.5%;
  margin-top: 30px;
  font-family: 'Caveat', cursive;
/* font-family: 'Changa One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
}


@media (max-width: 767px) {
   .back{
    margin: auto;
  }
}


@media (min-width: 767px) {
  .back{
   margin: auto;
 }
}
