@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');
.earring-dropdown{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-gap: 20px; */
  background-color: white;
  /* width: 90em; */
 position: absolute;
 top: 5%;
 left: 0px;
  right: 0px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 70%;

}

.earring-dropdown-item{
  text-align: center;
  width: 200px;
  font-family: 'Caveat', cursive;
font-family: 'Changa One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}



.earring-dropdown img{
  width: 240px;
  height: 250px;
}

.earring-dropdown p{
  color: black;
}
