.jewelery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;

}

.jewelery-list {
  width: 200px; /* Adjust the width as per your preference */
  margin-bottom: 20px;
  height: 400px;
  margin: auto;
}

.jewelery  img{
  height: 200px;
  width: 200px;
}

.title {
  margin-top: 10px;
  font-size: 16px;
}
.price input{
  float: right;
  width: 40px;
  height: 25px;
}

.popular{
  text-align: center;
}

.jewelery h4, h6{
  text-align: center;
}


.jewelery img{
  height: 300px;
  width: 120%;
}

@media (max-width: 767px){
  .jewelery-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .jewelery-list{
    width: 140px;
    height: 360px;
  }

  .pagination{
    padding-top: 20%;
    margin: auto;
  }
}
