@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  /* background-color: transparent !important; */
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 1px 1px rgba(9, 9, 9, 0.23);
}
.list-navbar .sign{
  width: 100px !important;
  /* margin-left: 80em; */
  background-color: transparent;

  color: black !important;

}

.list-navbar{
  color: black;
  font-family: 'Caveat', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.brand-name {

  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  /* border-radius: 50%;
  background-color: #283b8b; */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  background-color: none;
}

#dropdown-basic{
  background: rgba(0,0,0,0) !important;
  color: black;
  border: none;
  margin-top: 10px;
  font-family: 'Caveat', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-item{
  font-family: 'Caveat', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-menu{
  background-color: white !important;
  border: none !important;
}

.btn{
  margin-top: 10px;
  color: black !important;
}

.brand-name img{
  width: 100px;
  height: 60px;
  /* background-color: rgba(185, 139, 139, 0);
  background-repeat: no-repeat;
  background-size: cover; */
}

.list-navbar h4{
  padding-top: 30px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu ul {

    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
