.show-more-item{
  background-image: url('https://www.diamondcentre.it/modules/zoneslideshow/views/img/slideImages/1638527075.jpg');
  top: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
}

.show-more-item img{
   width: 100px;
}


.more-item-navbar{
  background-color: white;

}

.more-item-navbar .list-navbar{
  color: black;
}

.more-item-navbar .list-navbar .sign{
  display: none;
}
